@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.listing_slider_prev
	{
		left: -99px;
	}
	.listing_slider_next
	{
		right: -99px;
	}
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.listing_slider_prev
	{
		left: 0px;
	}
	.listing_slider_next
	{
		right: 0px;
	}
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_nav
	{
		margin-right: 56px;
	}
	.main_nav_item
	{
		margin-right: 33px;
	}
	.phone_home
	{
		padding-left: 31px;
    	padding-right: 29px;
	}
	.phone_home span
	{
		font-size: 14px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav
	{
		display: none;
	}
	.phone_home
	{
		display: none;
	}
	.logo span
	{
		font-size: 20px;
	}
	.logo img
	{
		width: 60px;
	}
	.hamburger_container
	{
		display: block;
	}
	.featured2_card_box
	{
		margin-top: 29px;
	}
	.listing2_col
	{
		margin-top: 80px;
	}
	.weekly_offer
	{
		height: auto;
	}
	.weekly_offer_image
	{
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		height: 220px;
		margin-top: 80px;
	}
	.footer_col
	{
		margin-bottom: 60px;
	}
	.footer_col:last-child
	{
		margin-bottom: 0px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.weekly_offer_image
	{
		height: 162px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2{font-size: 28px;}
	h3{font-size: 20px;}
	p{font-size: 13px;}
	.header
	{
		height: 80px;
	}
	.header_container
	{
		height: 80px;
	}
	.header.scrolled
	{
		height: 70px;
	}
	.header.scrolled .header_container
	{
		height: 70px;
	}
	.logo img
	{
		width: 36px;
	}
	.logo span
	{
		font-size: 12px;
	}
	.menu_item a
	{
		font-size: 14px;
		line-height: 42px;
	}
	.home1
	{
		height: 372px;
	}
	.home1_content
	{
		margin-top: 205px;
	}
	.section_subtitle
	{
		font-size: 14px;
	}
	.button
	{
		height: 41px;
	}
	.button a
	{
	    font-size: 12px;
	    line-height: 41px;
	    padding-left: 27px;
	    padding-right: 26px;
	}
	.search1_box_title_inner span
	{
		font-size: 14px;
	}
	.listing2_title
	{
		font-size: 24px;
		line-height: 1.4;
	}
	.listing2_content_row
	{
		padding-top: 80px;
	}
	.featured2_card_price
	{
		font-size: 22px;
	}
	.listing_slider_nav
	{
		display: none !important;
	}
	.newsletter_email
	{
		height: 40px;
	}
	.newsletter_submit_btn
	{
		height: 40px;
		font-size: 12px;
	}
	.weekly_offer_image
	{
		height: calc((100vw - 30px) / 3.13);
		margin-top: 43px;
	}
	.weekly_offer_content
	{
		height: 40px;
	}
	.weekly_offer_icon
	{
		width: 54px;
	}
	.weekly_offer_icon img
	{
		width: 22px;
	}
	.weekly_offer_text
	{
		font-size: 12px;
		line-height: 40px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.useful_links_item a
	{
		font-size: 13px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	h2{font-size: 24px;}
	.search1_box_title_inner span
	{
		font-size: 12px;
		margin-left: 15%;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}